fastapi
uvicorn[standard]
line-bot-sdk
python-dotenv
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz
pypdf
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1.0
python-multipart
